In [4]:
import pandas as pd
import numpy as np

In [29]:
same_as = pd.read_csv("data/DB15K_SameAsLink.nt", " ", header=None)[[0,2]]
same_as.rename(columns={0:"FB", 2:"DB"}, inplace=True)
same_as

               FB                                                 DB
0      /m/01m4kpp        <http://dbpedia.org/resource/Andy_Griffith>
1       /m/01s47p       <http://dbpedia.org/resource/Spanish_Empire>
2        /m/0yyts   <http://dbpedia.org/resource/Driving_Miss_Daisy>
3        /m/0r6c4  <http://dbpedia.org/resource/Mountain_View,_Ca...
4       /m/04l_pt         <http://dbpedia.org/resource/Thai_Chinese>
...           ...                                                ...
12841    /m/0dq3c       <http://dbpedia.org/resource/Vice_president>
12842    /m/0ph24  <http://dbpedia.org/resource/Late_Show_with_Da...
12843    /m/0jtdp     <http://dbpedia.org/resource/Documentary_film>
12844    /m/0qmny           <http://dbpedia.org/resource/Funkadelic>
12845    /m/0k_p5  <http://dbpedia.org/resource/Woodland_Hills,_L...

[12846 rows x 2 columns]

In [30]:
sampled = same_as.sample(frac=0.1, replace=True, random_state=42)

In [43]:
DB = open("data/DB15K_EntityTriples.nt")
FB = open("data/FB15K_EntityTriples.nt")
DB_lines = DB.readlines()
FB_lines = FB.readlines()

In [37]:
sampled

               FB                                                 DB
7270   /m/02vkvcz  <http://dbpedia.org/resource/Shirley_Ann_Russell>
860    /m/0gg5kmg  <http://dbpedia.org/resource/Killing_Them_Softly>
5390    /m/01pk8b               <http://dbpedia.org/resource/Jeddah>
5191     /m/0mbhr        <http://dbpedia.org/resource/Joanna_Lumley>
11964    /m/0cw51               <http://dbpedia.org/resource/Bhopal>
...           ...                                                ...
10789   /m/060pl5          <http://dbpedia.org/resource/Jim_Reardon>
11397    /m/049dk  <http://dbpedia.org/resource/Kansas_State_Univ...
6166    /m/04cdxc       <http://dbpedia.org/resource/Prabhu_(actor)>
814    /m/03mcwq3            <http://dbpedia.org/resource/Anna_Gunn>
345      /m/03krj             <http://dbpedia.org/resource/Handball>

[1285 rows x 2 columns]

In [41]:
sampled["DB"].iloc[0].split("/")[-1].replace(">","")

'Shirley_Ann_Russell'

In [ ]:
a = 0
for index, row in sampled.iterrows():
    #print(row["DB"], row["FB"])
    label = row["DB"].split("/")[-1].replace(">","")
    for i_db,l_db in enumerate(DB_lines):
        if row["DB"] in l_db:
            print(i_db, l_db)
    if (a==10):
        break
    a += 1

In [ ]:
def insert_seed(sampled, DB_lines, FB_lines):
    for _, same_tup in sampled.iterrows():
        label = same_tup["DB"].split("/")[-1].replace(">","")

In [72]:
def create_label(sample_row):
    label = sample_row["DB"].split("/")[-1].replace(">","")
    label_str = '{resource} <http://www.w3.org/2000/01/rdf-schema#label> "{label}" .'
    sample_row["DB_labeled"] = label_str.format(resource=sample_row["DB"], label=label)
    sample_row["FB_labeled"] = label_str.format(resource=sample_row["FB"], label=label)

In [ ]:
sampled.apply(lambda x: create_label(x), axis=1)