In [80]:
import pandas as pd
import numpy as np

In [20]:
same_as = pd.read_csv("data/DB15K_SameAsLink.nt", " ", header=None)[[0,2]]
same_as.rename(columns={0:"FB", 2:"DB"}, inplace=True)
same_as

               FB                                                 DB
0      /m/01m4kpp        <http://dbpedia.org/resource/Andy_Griffith>
1       /m/01s47p       <http://dbpedia.org/resource/Spanish_Empire>
2        /m/0yyts   <http://dbpedia.org/resource/Driving_Miss_Daisy>
3        /m/0r6c4  <http://dbpedia.org/resource/Mountain_View,_Ca...
4       /m/04l_pt         <http://dbpedia.org/resource/Thai_Chinese>
...           ...                                                ...
12841    /m/0dq3c       <http://dbpedia.org/resource/Vice_president>
12842    /m/0ph24  <http://dbpedia.org/resource/Late_Show_with_Da...
12843    /m/0jtdp     <http://dbpedia.org/resource/Documentary_film>
12844    /m/0qmny           <http://dbpedia.org/resource/Funkadelic>
12845    /m/0k_p5  <http://dbpedia.org/resource/Woodland_Hills,_L...

[12846 rows x 2 columns]

In [181]:
sampled = same_as.sample(frac=0.1, replace=True, random_state=42)

In [182]:
DB = open("data/DB15K_EntityTriples.nt")
FB = open("data/FB15K_EntityTriples.nt")
DB_lines = DB.readlines()
FB_lines = FB.readlines()

In [183]:
sampled

               FB                                                 DB
7270   /m/02vkvcz  <http://dbpedia.org/resource/Shirley_Ann_Russell>
860    /m/0gg5kmg  <http://dbpedia.org/resource/Killing_Them_Softly>
5390    /m/01pk8b               <http://dbpedia.org/resource/Jeddah>
5191     /m/0mbhr        <http://dbpedia.org/resource/Joanna_Lumley>
11964    /m/0cw51               <http://dbpedia.org/resource/Bhopal>
...           ...                                                ...
10789   /m/060pl5          <http://dbpedia.org/resource/Jim_Reardon>
11397    /m/049dk  <http://dbpedia.org/resource/Kansas_State_Univ...
6166    /m/04cdxc       <http://dbpedia.org/resource/Prabhu_(actor)>
814    /m/03mcwq3            <http://dbpedia.org/resource/Anna_Gunn>
345      /m/03krj             <http://dbpedia.org/resource/Handball>

[1285 rows x 2 columns]

In [ ]:
# a = 0
# for index, row in sampled.iterrows():
#     #print(row["DB"], row["FB"])
#     label = row["DB"].split("/")[-1].replace(">","")
#     for i_db,l_db in enumerate(DB_lines):
#         if row["DB"] in l_db:
#             print(i_db, l_db)
#     if (a==10):
#         break
#     a += 1

In [186]:
def create_label(sample_row):
    label = sample_row["DB"].split("/")[-1].replace(">","")
    label_str = '{resource} <http://www.w3.org/2000/01/rdf-schema#label> "{label}" . \n'
    sample_row["DB_labeled"] = label_str.format(resource=sample_row["DB"], label=label)
    sample_row["FB_labeled"] = label_str.format(resource=sample_row["FB"], label=label)
    return sample_row

In [187]:
sampled = sampled.apply(lambda x: create_label(x), axis=1)
sampled

,FB,DB,DB_labeled,FB_labeled
7270,/m/02vkvcz,<http://dbpedia.org/resource/Shirley_Ann_Russell>,<http://dbpedia.org/resource/Shirley_Ann_Russe...,/m/02vkvcz <http://www.w3.org/2000/01/rdf-sche...
860,/m/0gg5kmg,<http://dbpedia.org/resource/Killing_Them_Softly>,<http://dbpedia.org/resource/Killing_Them_Soft...,/m/0gg5kmg <http://www.w3.org/2000/01/rdf-sche...
5390,/m/01pk8b,<http://dbpedia.org/resource/Jeddah>,<http://dbpedia.org/resource/Jeddah> <http://w...,/m/01pk8b <http://www.w3.org/2000/01/rdf-schem...
5191,/m/0mbhr,<http://dbpedia.org/resource/Joanna_Lumley>,<http://dbpedia.org/resource/Joanna_Lumley> <h...,/m/0mbhr <http://www.w3.org/2000/01/rdf-schema...
11964,/m/0cw51,<http://dbpedia.org/resource/Bhopal>,<http://dbpedia.org/resource/Bhopal> <http://w...,/m/0cw51 <http://www.w3.org/2000/01/rdf-schema...
...,...,...,...,...
10789,/m/060pl5,<http://dbpedia.org/resource/Jim_Reardon>,<http://dbpedia.org/resource/Jim_Reardon> <htt...,/m/060pl5 <http://www.w3.org/2000/01/rdf-schem...
11397,/m/049dk,<http://dbpedia.org/resource/Kansas_State_Univ...,<http://dbpedia.org/resource/Kansas_State_Univ...,/m/049dk <http://www.w3.org/2000/01/rdf-schema...
6166,/m/04cdxc,<http://dbpedia.org/resource/Prabhu_(actor)>,<http://dbpedia.org/resource/Prabhu_(actor)> <...,/m/04cdxc <http://www.w3.org/2000/01/rdf-schem...
814,/m/03mcwq3,<http://dbpedia.org/resource/Anna_Gunn>,<http://dbpedia.org/resource/Anna_Gunn> <http:...,/m/03mcwq3 <http://www.w3.org/2000/01/rdf-sche...
345,/m/03krj,<http://dbpedia.org/resource/Handball>,<http://dbpedia.org/resource/Handball> <http:/...,/m/03krj <http://www.w3.org/2000/01/rdf-schema...

In [188]:
DB_lines_labeled = DB_lines + sampled["DB_labeled"].to_list()
FB_lines_labeled = FB_lines + sampled["FB_labeled"].to_list()

In [189]:
DB_label = open("test_DB.nt", "w")
FB_label = open("test_FB.nt", "w")

In [190]:
DB_label.writelines(DB_lines_labeled)
FB_label.writelines(FB_lines_labeled)

## Testing some accuracy measures

In [191]:
same_file = open("data/DB15K_SameAsLink.nt", "r")
same_list = same_file.readlines()

In [192]:
same_list = [same.replace(" <SameAs>", "").replace("<http://dbpedia.org/","dbp:")[:-4] for same in same_list]

In [193]:
same_list[:3]

['/m/01m4kpp dbp:resource/Andy_Griffith',
 '/m/01s47p dbp:resource/Spanish_Empire',
 '/m/0yyts dbp:resource/Driving_Miss_Daisy']

In [212]:
res_list = pd.read_csv("output/9_eqv.tsv", delimiter="\t", header=None, usecols=[0,1]).values.tolist()

In [213]:
res_list = [" ".join(x) for x in res_list]

In [214]:
res_list[:3]

['/m/06v8s0 dbp:resource/Wendee_Lee',
 '/m/017dcd dbp:resource/Mighty_Morphin_Power_Rangers',
 '/m/044mz_ dbp:resource/Jeremy_Davies']

In [215]:
def precision(same_list, res_list):
    same_set = set(same_list)
    res_set = set(res_list)
    precision = len(same_set.intersection(res_set))/len(res_set)
    return precision

In [216]:
prec = precision(same_list, res_list)
prec

0.9285171102661597

In [217]:
def recall(same_list, res_list):
    same_set = set(same_list)
    res_set = set(res_list)
    recall = len(same_set.intersection(res_set))/len(same_set)
    return recall

In [218]:
rec = recall(same_list, res_list)
rec

0.47524521251751517

In [219]:
def f1_score(precision, recall):
    f1 = 2*precision*recall/(precision + recall)
    return f1

In [220]:
f1 = f1_score(prec, rec)
f1

0.6287008907883219

## Check if we find at least all the seed

In [221]:
seed_list = sampled[["FB","DB"]].values.tolist()

In [222]:
seed_list = [" ".join(x).replace("<http://dbpedia.org/","dbp:")[:-1] for x in seed_list]

In [223]:
seed_list[:3]

['/m/02vkvcz dbp:resource/Shirley_Ann_Russell',
 '/m/0gg5kmg dbp:resource/Killing_Them_Softly',
 '/m/01pk8b dbp:resource/Jeddah']

In [224]:
c = 0
not_found = []
for s in seed_list:
    if s not in res_list:
        c+=1
        not_found.append(s)
print(c)

76

In [225]:
len(set(not_found))

75